<footer class="footer p-10 bg-base-200 text-base-content mt-16 flex flex-row justify-around">
  <nav>
    <h6 class="footer-title">Jobs</h6> 
    <a class="link link-hover">Browse All</a>
    <a class="link link-hover">Remote Jobs</a>
    <a class="link link-hover">Featured</a>
    <a class="link link-hover">Latest</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6> 
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6> 
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer>
